@media (min-width:1024px) and (max-width:1280px)
  header .mini ul li
    padding: 10px

@media (min-width:320px) and (max-width:480px)
  #left
    width: 100%

  #right
    margin: 0
    padding: 0
    width: 100%

  footer
    margin-top: 1750px
    width: 94%

