*
  margin: 0
  padding: 0

body
  background: #ddd
  font-size: 16px
  padding-bottom: 0

header
  background: #fff
  height: 80px
  position: relative

header .logo
  float: left
  margin: 10px

header .logo img
  margin-left: 36px
  width: 180px

header .mini
  background: #fc0
  border-radius: 5px
  box-shadow: 0 3px 3px #808080
  float: right
  margin-top: 14px
  margin-right: 14px
  position: relative

header .mini ul
  list-style-type: none

header .mini ul li
  border-radius: 5px
  display: inline-block
  padding: 16px

header .mini ul li:hover
  background: linear-gradient(180deg,#fff,#ff9)

header .mini ul li a
  color: #000
  font-weight: bold
  text-decoration: none

#left
  float: left
  font-family: Calibri
  margin-left: 10px
  padding: 4px
  width: 30%

#left .descripcion
  background: #fff
  border-radius: 5px
  box-shadow: 3px 3px 3px #d3d3d3
  margin: 18px
  padding: 4px
  padding-bottom: 24px
  text-align: justify

#left .descripcion .logo
  margin: 5px
  padding: 0

#left .descripcion .logo img
  margin: 0
  padding: 0
  width: 100%

#right
  float: right
  font-family: Calibri
  margin-bottom: 100px
  padding: 4px
  width: 65%

#right .productos
  background: #fff
  border-radius: 5px
  box-shadow: 3px 3px 3px #d3d3d3
  float: left
  margin: 18px
  padding: 4px
  padding-bottom: 18px
  width: 42%

#right .productos .producto
  margin: 5px

#right .productos .producto img
  border-radius: 5px
  width: 100%

#right .productos .informacion
  margin: 5px
  padding-bottom: 16px
  text-align: justify

footer
  background: #808080
  margin-top: 600px
  padding: 10px
  position: absolute
  width: 100%

footer .col
  border-radius: 5px
  float: left
  margin-left: 40px
  width: 100%

footer .col ul
  list-style: none

footer .col ul li
  display: inline-block
  height: 24px

footer .col ul li a
  color: #fff
  padding: 10px
  text-decoration: none

footer .col ul li:hover
  background: linear-gradient(180deg,#d3d3d3,#808080)
  border-radius: 5px

